body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: #4159e1;
}


#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #4159e1;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
color: #fff;
}

.navbar-toggler{
    background-color: #e6e6ff;
}

.section-title{
    font-family: "Pacifico", cursive;
}

#sobre-o-restaurante,
#cardapio{
    background-color: #e6e6ff;
}

.text-colored{
    color: #4159e1;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #4159e1;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #414141;
}

#cardapio img{
    height: 160px;
    object-fit: cover;
}

.social-links li{
list-style: none;
display: inline;
}

.social-links a{
    text-decoration: none;
}

.image-padrao{
    height: 240px;
}

.carousel-item{
    max-height: 1080px;
    object-fit: cover;
}

@media screen and (max-width:767px){
    .carousel-item img{
        height: 280px;
    }
}